.navbar {
  padding: 1rem 1rem 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.1);
}

header:has(.navbar) {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar li {
  min-height: calc(var(--link-size) + 0.5rem);
  display: flex;
  align-items: center;
}

.navbar ul > li:first-child {
  margin-right: auto;
}

.cartLink > span {
  padding: 0.3rem 0.5rem;
  background-color: #fff;
  border-radius: 12px;
}
