* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-sans-serif: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;

  --text: hsl(216, 100%, 5%);
  --background: hsl(223, 100%, 99%);
  --primary: hsl(216, 100%, 52%);
  --secondary: hsl(202, 100%, 22%);
  --accent: hsl(0, 89%, 49%);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

li {
  list-style: none;
}

body {
  font-family: var(--ff-sans-serif);
  min-height: 100vh;
  background-color: var(--background);
}

a:any-link {
  text-decoration: none;
  color: inherit;
}

li:has(a.active):not(li:has(a[href="/"])) {
  color: var(--secondary);
  font-size: 600;

  & svg {
    fill: var(--secondary);
  }
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5em;
}

input,
button {
  font: inherit;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 0.75;
}
